body{
    background-color: #0078a0;
    text-align: center;
    height:10px ;
    margin-left:450px ;
    margin-top: 100px;
    margin-right: 400px;
    width:30px;
}
.container{
    background-color: white;
    border-radius: 3px;
    height: 380px;
    width: 300px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;
}
select{
    padding-right: 500px;
    padding-right: 50px;
    width: 170px;
}

button{
padding-left: 10px;
    background-color: rgb(77, 149, 215);
    width: 170px;
}

